@import url('https://fonts.googleapis.com/css2?family=Radio+Canada+Big:ital,wght@0,400..700;1,400..700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Radio Canada Big", sans-serif;
}

body{
    background-color: #96D4B3;
    font-family: "Radio Canada Big", sans-serif;
}

body, html{
    margin: 0;
    padding: 0;
    height: 100%;
}

main{
    padding-top: 30px;
    width: 40%;
    height: 420px;
    background-color: #05957B;
    margin: 0 auto;
    position: relative;
    top: 15%;
    min-width: 400px;
    max-width: 600px;
    text-align: center;
    box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.3);
    -webkit-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.3);
    transition: box-shadow 0.5s ease;
}

main:hover{
    transition: 0.4s;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.3);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.3);
}

main h1{
    margin-top: -65px;
    margin-left: 10px;
    margin-bottom: 25px;
    color: #657159;
    text-align: justify;
}

main img{
    width: 120px;
    margin-top: -60px;
    margin-bottom: 30px;
}

input{
    width: 80%;
    height: 40px;
    font-size: 18px;
    margin-bottom: 20px;
    background-color: rgb(244, 184, 42, 0.85);
    padding-left: 45px;
    border: none;
    border-radius: 25px;
    color: #e8f1de;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button,
input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    appearance: none;
    font-size: 0;
}

input.nome{
    background-image: url(../html/img/Cadastro/icone-usuario.png);
    background-repeat: no-repeat;
    background-position: 10px;
}

input.nome::placeholder{
    color: #fff;
}

input.data{
    background-image: url(../html/img/Cadastro/calendar.png);
    background-repeat: no-repeat;
    background-position: 10px;
}

input.data::placeholder{
    color: #fff;
}

input.tel{
    background-image: url(../html/img/Cadastro/telefone.png);
    background-repeat: no-repeat;
    background-position: 10px;
}

input.tel::placeholder{
    color: #fff;
}

input.cpf{
    background-image: url(../html/img/Cadastro/cpf.png);
    background-repeat: no-repeat;
    background-position: 10px;
}

input.cpf::placeholder{
    color: #fff;
}

input.email{
    background-image: url(../html/img/Cadastro/e-mail.png);
    background-repeat: no-repeat;
    background-position: 10px;  
}

input.email::placeholder{
    color: #fff;
}

input.senha{
    background-image: url(../html/img/Cadastro/cadeado-seguro.png);
    background-repeat: no-repeat;
    background-position: 10px;
}

input.senha::placeholder{
    color: #fff;
}

input.submit{
    color: #192c16;
    font-weight: bold;
    background-color: #b6f5d3;
    border: 2px solid #84D4A9;
    padding: 5px 20px;
    height: 45px;
    width: 25%;
    border-radius: 30px;
    transition: background-color 0.5s ease;
}

input.submit:hover{
    color: #192c16;
    background-color: #84D4A9;
    border: 2px solid #66997e;
    padding: 5px 20px;
    height: 45px;
    backdrop-filter: 50%;
    cursor: pointer;
}