@import url('https://fonts.googleapis.com/css2?family=Radio+Canada+Big:ital,wght@0,400..700;1,400..700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #96D4B3;
    font-family: "Radio Canada Big", sans-serif;
    color: #fff;
}

main {
    margin-top: 100px;
}

label {
    display: flex;
    padding-left: 5px;
    padding-bottom: 5px;
}

/* retira o input tipo número  */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    appearance: none;
    font-size: 0;
}

button {
    width: 400px;
    border: none;
    padding: 10px;
    color: white;
    background-color: #F5B82A;
    border-radius: 8px;
    font-size: 15px;
    font-weight: 1000;
    cursor: pointer;
}

button:hover {
    background-color: #e0861f;
}

.botão {
    padding-top: 20px;
}

.legenda {
    padding-bottom: 20px;
    font-size: 20px;
    color: #F5B82A;
    font-weight: bold;
}

/* estiliza todos os inputss */
.input_endereço {
    width: 100%;
    min-width: 175px;
    height: 40px;
    font-size: 18px;
    margin-bottom: 10px;
    background-color: white;
    border-radius: 5px;
    border: none;
    padding-left: 3px;
}

/* quando clicar no input vai dar destaque nele */
.input_endereço:focus {
    box-shadow: black;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.3);
}

/* div principal */
.container {
    padding: 30px;
    width: 40%;
    height: 500px;
    background-color: #05957B;
    margin: 0 auto;
    position: relative;
    border-radius: 15px;
    min-width: 450px;
    max-width: 550px;
    text-align: center;
}

/* alinha os inputs em coluna */
.principal {
    text-align: left;
    display: flex;
    gap: 20px;
}