@import url('https://fonts.googleapis.com/css2?family=Radio+Canada+Big:ital,wght@0,400..700;1,400..700&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    margin-bottom: 80px;
    margin-left: 80px;
    margin-right: 80px;
    background-color: #96D4B3;
    font-family: "Radio Canada Big", sans-serif;
}

header{
    margin-bottom: 30px;
}

.navegacao{
    margin-bottom: 70px;
}

.sobre-nos-esquerda{
    background-color: #00967D;
    width: 700px;
    height: 400px;
    text-align: justify;
}

.sobre-nos-esquerda h1{
    color: #E8E6DA;
    padding-left: 250px;
    font-size: 80px;
}

.sobre-nos-esquerda p{
    color: #E8E6DA;
    padding-right: 50px;
    padding-left: 270px;
    font-size: 45px;
}

.paleta-cor{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 150px;
    text-align: center;
    display: flex;
}

.amarelo{
    width: 20%;
    height: 45px;
    background-color: #F5B82A;
}

.laranja{
    width: 20%;
    height: 45px;
    background-color: #DB6816;
}

.branco{
    width: 20%;
    height: 45px;
    background-color: #F5E7D3;
}

.verde-escuro{
    width: 20%;
    height: 45px;
    background-color: #00967D;
}

.verde-claro{
    width: 20%;
    height: 45px;
    background-color: #83D4A9;
}

.sobre-nos-direita{
    width: 700px;
    height: 400px;
    text-align: left;
    background-color: #E8A70F;
    float: right;
}

.sobre-nos-direita > p{
    color: #DBE3D3;
    font-size: 50px;
    padding-top: 50px;
    padding-right: 220px;
    padding-left: 40px;
}

.sobre-nos-direita > a{
    color: #DBE3D3;
    font-size: 30px;
    padding-right: 50px;
    padding-left: 130px;
}

.titulo-clear{
    clear: both;
    color: #F5B82A;
    padding-left: 20px;
    font-size: 60px;
}

.carrossel-banner{
    margin: 0;
    padding: 0;
}

.colecao-inverno-verao{
    margin: 50px;
    text-align: center;
}

.itens-infantil{
    text-align: center;
    padding-bottom: 30px;
}

.itens-infantil > a{
    color: #E8E6DA;
    font-size: 30px;
}

.imagens-infantil > img{
    margin-right: 50px;
    margin-left: 50px;
    padding-bottom: 30px;
    padding-top: 80px;
}

.itens-feminino{
    text-align: center;
    padding-bottom: 30px;
}

.itens-feminino > a{
    color: #E8E6DA;
    font-size: 30px;
}

.imagens-feminino > img{
    margin-right: 50px;
    margin-left: 50px;
    padding-bottom: 30px;
    padding-top: 80px;
}

.itens-masculino{
    text-align: center;
    padding-bottom: 30px;
}

.itens-masculino > a{
    color: #E8E6DA;
    font-size: 30px;
}

.imagens-masculino > img{
    margin-right: 50px;
    margin-left: 50px;
    padding-bottom: 30px;
    padding-top: 80px;
}

/*footer{
    background-color: #00967D;
    margin: 0 auto;
    text-align: center;
    height: 50px;
}*/